<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Parcels General List</title>
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>ID Pacco</th>
                <th>Stato Pacco</th>
            </tr>
        </thead>

        <%
            if(parcels.length != 0){
                var i=1;
                parcels.forEach(parcel =>{
        %>

        <tr>
            <td><%=i; %></td>
            <td><% parcel.deliveryStatus %></td>
        </tr>
        <%      i++; }) %>
        <% } else { %>

        <tr>
            <td>You haven't parcels!</td>
        </tr>

        <% } %>
    </table>
</body>

</html>